.container{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 20px;
}

.formWrapper{
    display: flex;
    flex-direction: column;
    flex: 1;
}

.dateWrapper{
    display: flex;
    width: 100%;
    align-items: flex-end;
    gap: 15px;
    margin-bottom: 20px;
    flex-wrap: wrap;
}

.labelText{
    font-size: 14px;
    font-weight: 600;
    margin-bottom: 10px;
    color: #5B6976;
    letter-spacing: 0.7px;
}

.footer {
    display: flex;
    justify-content: flex-end;
    gap: 15px;
}
.btnWrapper {
    display: flex;
}

.filterWrapper{
    display: flex;
    flex-direction: column;
    flex: 1;
    margin-bottom: 20px;
}