.container{
    padding: 20px;
    width: 100%;
    background-color: #F5F7FB;
}

.topContainer{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    margin-bottom: 20px;
}

.topLeftContainer{
    display: flex;
    flex: 2;
    align-items: center;
}

.topRightContainer{
    display: flex;
    flex: 1;
    gap: 10px;
}

.pageTitleTop{
    font-size: 20px;
    font-weight: 600;
    color: #A2A5AE;
}

.pageSubtitleTop{
    font-size: 20px;
    font-weight: 600;
    color: #5C6976;
}

.footerWrapper{
    display: flex;
    flex: 0.5;
    align-self: flex-end;
}


@media screen and (max-width: 947px){

    .pageTitleTop{
        font-size: 16px;
        font-weight: 600;
        color: #A2A5AE;
    }
    
    .pageSubtitleTop{
        font-size: 16px;
        font-weight: 600;
        color: #5C6976;
    }
}