.container{
    display: flex;
    flex: 1;
    min-height: 100vh;
    height: 100%;
    background-color: #1C212D;
    flex-direction: column;
    padding: 20px;
    justify-content: space-between;
}

.titleWrapper{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.title{
    font-size: 40px;
    color: #F9F9F9;
}

.subtitle{
    font-size: 13px;
    color: #4E5563;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin: 10px 0px;
}

.personalAvatar {
    cursor: pointer;
    width: 23px;
    height: 23px;
    border-radius: 100%;
    box-shadow: 0px 2px 4px 0px rgba(0, 0, 0, 0.2);
    transition: all ease-in-out .3s;
  }

.signOutBtn{
  display: flex;
  width: 100%;
  align-items: center;
  gap: 5px;
  border-radius: 4px;
  transition: all ease .3s;
  padding: 15px;
  text-decoration: none;
  outline: none;
  border: none;
  background-color: #FFD731;
}

.signOutBtn:hover{
  background-color: #D4B200;
  cursor: pointer;
}

@media screen and (max-width: 947px){

  .container{
    display: flex;
    padding: 5px;
  }
  .title{
    display: none;
  }
  .subtitle{
    display: none;
  }
  .signOutText{
    display: none;
  }
}