.container{
    display: flex;
    position: fixed;
    top: 0;
    flex: 1;
    background-color: #1C212D;
    min-height: 100vh;
    height: 100%;
    flex-direction: column;
    padding: 20px;
    justify-content: space-between;
    overflow-y: auto;
    z-index: 1; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
}

.titleWrapper{
    display: flex;
    align-items: center;
    gap: 10px;
    margin-bottom: 20px;
}

.title{
    font-size: 40px;
    color: #F9F9F9;
}

.subtitle{
    font-size: 13px;
    color: #4E5563;
    font-weight: 600;
    letter-spacing: 0.5px;
    margin: 10px 0px;
}