.container{
    display: flex;
    flex-direction: column;
    flex: 1;
    gap: 20px;
}

.profilePicWrapper{
    align-self: center;
}

.inputWrapper{
    display: flex;
    flex: 1;
    width: 100%;
    justify-content: space-between;
    gap: 20px;
    align-self: flex-start;
}

.labelText{
    font-size: 14px;
    font-weight: 600;
    color: #5B6976;
    letter-spacing: 0.7px;
    margin-bottom: 10px;
}

.inputWrapperLeft{
    flex: 1;
}
.inputWrapperRight{
    flex: 1;
}

.jobCategoriesWrapper{
    display: flex;
    flex-direction: row;
    gap: 5px;
    flex-wrap: wrap;
    z-index: 1;
}

.cvsWrapper {
    display: flex;
    flex: 1;
}
.subtitleText {

}

@media screen and (max-width: 947px){
    .inputWrapper{
        flex-direction: column;
    }

  }