.main{
    display: flex;
    flex: 1;
    height: 100vh;
    background-color: #F3F6F9;
}

.contentWrapper{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 30px;
    overflow-y: scroll;
    gap: 15px;
}

@media screen and (max-width: 947px){
    .contentWrapper{
        padding: 15px;
        
    }

  }