.container{
    display: flex;
    width: '100%';
    max-height: 100vh;
    background-color: #F6F7FB;
    flex-direction: column;
    padding: 30px;
    overflow-y: auto;
    height: 100vh;
}

.topWrapper{
    display: flex;
    align-items: center;
    gap: 10px;
    justify-content: space-between;
    margin-bottom: 20px;
}

.topLeftWrapper{
    display: flex;
    align-items: center;
}

.input{
    display: flex;
    flex: 1;
    background-color: rgba(255,255,255,0.07);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    padding: 20px;
    margin-bottom: 15px;
    outline: none;
}

.pageTitleTop{
    font-size: 20px;
    font-weight: 600;
    color: #A2A5AE;
}

.pageSubtitleTop{
    font-size: 20px;
    font-weight: 600;
    color: #5C6976;
}

.infoWrapper{
    display: flex;
    flex: 1;
    flex-direction: column;
    width: 100%;
    background-color: #FFF;
    padding: 20px 20px;
    border-radius: 10px;
    align-items: center;
}

.inputWrapper{
    width: 100%;
    margin-top: 20px;
    align-self: flex-start;
}

@media screen and (max-width: 947px){
    .topWrapper{
        flex-direction: column;
        align-items: flex-start;
    }

}