.container{
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 10px;
}


.title{
    font-size: 22px;
    font-weight: 600;
    margin-bottom: 10px;
    letter-spacing: 0.5px;
}
