.container{
    display: flex;
    flex: 1;
    margin-bottom: 10px;
    position: relative;
    transition: all ease .5s;
    max-height: 55px;
}

.searchBarWrapper {
    display: flex;
    flex: 1;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-color: rgba(255,255,255,0.07);
    border-radius: 4px;
    padding-right: 10px;
    border: 1px solid #7C8AA3;
    max-height: 55px;
}

.searchBarWrapper > svg {
    cursor: pointer;
}
.searchBar {
    display: flex;
    width: 100%;
    background-color: transparent;
    font-size: 14px;
    font-weight: 400;
    padding: 20px;
    outline: none;
    border: none;
    max-height: 55px;
}

.searchResultsWrapper{
    position: absolute;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    overflow-y: auto;
    background-color: #414650;
    max-height: 120px;
    border-radius: 4px;
    z-index: 100000;
    top: 59px;
    width: 100%;
}

.searchResult {
    padding: 10px;
}

.searchResult:hover {
    cursor: pointer;
    background-color: #FFD731;
}

.searchResult p {
    color: #F9F9F9;
}
.searchResult:hover p {
    color: #000;
}
