.container{
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 30px;
    gap: 30px;
}

.container > p {
    font-weight: 600;
    text-align: center;
}

.btnOptionsWrapper{
    display: flex;
    gap: 30px;
}