.container{
    display: flex;
    flex: 1;
    height: 100vh;
    background-color: #F3F6F9;
    overflow-y: hidden;
}

.contentWrapper{
    display: flex;
    flex-direction: column;
    flex: 1;
    overflow-y: scroll;
    gap: 10px;
}

.candidatesListWrapper{
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding: 30px;
}

.pageTitle{
    font-size: 24px;
    letter-spacing: 0.5px;
    margin-bottom: 20px;
}
.SearchBarWrapper{
    display: flex;
    width: 100%;
    border-radius: 10px;
    margin-bottom: 10px;
}

.TopWrapper{
    display: flex;
    flex-direction: column;
    padding: 30px 30px 0px 30px
}

.searchBtnWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: #FFD731;
    cursor: pointer;
    padding: 5px 20px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.searchBtnWrapper:hover{
    background-color: #D4B200;
}

.candidatesListWrapperTop{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.candidatesQuantityText{
    font-size: 16px;
    font-weight: 500;
    color: #636889;
}

.filtersWrapper{
    display: flex;
    gap:10px;
    align-items: center;
    justify-content: space-between;
}

.filtersWrapperRight{
    display: flex;
    gap: 10px;
}

.clearAllBtn{
    font-size: 15px;
    font-weight: 400;
    color: #777777;
    cursor: pointer;
    transition: all ease .3s;
}

.clearAllBtn:hover{
    color: #999999;
}


@media screen and (max-width: 947px){
    .candidatesListWrapper{
        padding: 15px; 
    }

  }
@media screen and (max-width: 620px){
    .SearchBarWrapper{
        display: flex;
        flex: 1;
        width: 100%;
        flex-direction: column;
        background-color: inherit;
        gap: 10px;
    }
    
    .searchBtnWrapper{
        border-radius: 10px;
        padding: 8px 20px;
    }

    .filtersWrapper{
        width: 100%;
        flex-direction: column;
        align-items: flex-end;
    }

    .filtersWrapperRight{
        width: 100%;
        flex-direction: column;
    }

  }