.container {
    display: flex;
    flex-direction: column;
    flex: 1;
    padding: 30px;
    gap: 20px;
}

.title{
    font-weight: 600;
    font-size: 20px;
    letter-spacing: 0.6px;
}
.cvListWrapper {
    display: flex;
    flex: 1;
    flex-direction: column;
    gap: 10px;
}
.cvOption {
    display: flex;
    gap: 10px;
    padding: 10px;
    background-color: #EBEBEB;
    border-radius: 4px;
}
.cvText {
    text-overflow: ellipsis;
    overflow: hidden;
}

.footer{
    display: flex;
    width: fit-content;
    align-items: flex-end;
}