.btnWrapper{
    background-color: #FFD731;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    text-decoration: none;
    width: 100px;
    transition: all ease .3s;
    outline: none;
    border: none;
}
.btnWrapper:hover{
    background-color: #D4B200;
    cursor: pointer;
}

.btnWrapper2{
    background-color: #F9F9F9;
    padding: 16px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 20px;
    text-decoration: none;
}

.btnText{
    text-decoration: none;
    color: #1A1A1A;
    font-weight: 500;
    font-size: 15px;
}

.iconWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}