.btnWrapper{
    background-color: #FFD731;
    padding: 10px 15px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-radius: 15px;
    text-decoration: none;
    width: fit-content;
    transition: all ease .3s;
    outline: none;
    border: none;
    gap: 10px;
}
.btnWrapper:hover{
    background-color: #D4B200;
    cursor: pointer;
}

.btnWrapper2{
    background-color: #F9F9F9;
    padding: 16px 12px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    margin-bottom: 20px;
    text-decoration: none;
}

.btnText{
    text-decoration: none;
    color: #1A1A1A;
    font-weight: 500;
    font-size: 15px;
}

.iconWrapper{
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 947px){
    .btnText{
        font-size: 11px;
    }

    .btnWrapper{
        padding: 10px;
    }
    .btnWrapper2{
        padding: 10px;
    }
}