.container{
    display: flex;
    flex: 1;
    flex-direction: column;
    margin-bottom: 20px;
}

.select{
    border: 0;
    outline: 0;
    font: inherit;
    display: flex;
    flex: 1;
    background-color: rgba(255,255,255,0.07);
    border-radius: 4px;
    font-size: 14px;
    font-weight: 400;
    padding: 20px;
    outline: none;
    border: 1px solid #7C8AA3;
}

.labelText{
    font-size: 14px;
    font-weight: 600;
    color: #5B6976;
    letter-spacing: 0.7px;
    margin-bottom: 10px;
}